<h2 class="title">User Details</h2>

<!-- User Details Table -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.emailId }}</td>
      <td>{{ user.role }}</td>
    </tr>
  </tbody>
</table>
<!-- Message if no users exist -->
<p *ngIf="users.length === 0">No users available.</p>
<!-- Back Button -->
<div class="button-container">
  <button class="back-btn" (click)="goBack()">Back to Admin Home</button>
</div>