<div class="background-container">
  <div class="cart-container">
      <h2>Shopping Cart</h2>

      <div *ngIf="cartItems.length === 0">Your cart is empty.</div>

      <div *ngFor="let item of cartItems" class="cart-item">
          <img [src]="'data:image/png;base64,' + item.product.imageData" alt="Product Image" class="cart-image">
          <div class="cart-details">
              <h4>{{ item.product.name }}</h4>
              <p>Price: ₹{{ item.product.price }}</p>
              <p>Quantity: {{ item.quantity }}</p>
              <button (click)="deleteCartItem(item.cartId); showItemRemovedMessage()">Remove</button>
          </div>
      </div>

      <div class="down-extra">
          <div>
              <button (click)="addMoreItems()" class="add-more-btn">Add More Items</button>
              <button (click)="placeOrder()" class="order-btn">Order Now</button>
              <p style="background-color: green; color: white;">{{orderPlacedMsg}}</p>
          </div>
          <!-- Item Removed Successfully Message -->
          <div class="item-removed-message" [class.show]="itemRemoved">
              ✔ Item removed successfully!
              
          </div>
      </div>



      <!-- Order Confirmation Popup -->
      
  </div>
</div>