/* Global Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Home Container */
.home-container {
  text-align: center;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(to right, #4CAF50, #388E3C);
  color: white;
  /* padding: 50px 20px; */
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1.2rem;
}

/* Features Section */
.features {
  margin: 50px 20px;
}

.features h2 {
  color: #388E3C;
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  color: #4CAF50;
  margin-top: 10px;
}

.card p {
  color: #555;
}

/* Food Gallery */
.food-gallery {
  background-color: white;
  padding: 40px 20px;
}

.food-gallery h2 {
  color: #4CAF50;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}